h1{
  width: 100%;
  text-align: center;
}
h2{
  margin-top: 30px;
}
.category{
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 40px));
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, calc(50% - 40px));
  }
  @media screen and (max-width: 750px) {
    grid-template-columns: 100%;
    grid-column-gap: 0px;
  }
}

.query-type-container{
  max-width: 500px;
  position: relative;
  margin: 0px auto;
}
