<div class="stats">
  <div class="stat">
    <div class="stat-container">
      <span class="statNum">{{totalCases}}</span>
      Total Cases
    </div>
  </div>
  <div class="stat">
    <div class="stat-container">
      <span class="statNum">{{totalDeaths}}</span>
      Total Deaths
    </div>
  </div>
  <div class="stat">
    <div class="stat-container">
      <span class="statNum">{{totalHospitalizations}}</span>
      Total Hospitalizations
    </div>
  </div>
  <div class="stat">
    <div class="stat-container">
      <span class="statNum">{{excessDeaths}}</span>
      Estimated Excess Deaths
    </div>
  </div>
</div>
